*{
    margin: 0px;
    padding: 0px;
}
/* .fira-code-normal{
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
body{
    font-family: 'Fira Sans';font-size: auto;
}
/* nav  */
nav{
    margin: 24px 160px 24px 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-btn{
    padding: 15px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600px;
    border-radius: 8px;
    border-color: rgb(0, 106, 80);

}
main{
    margin: 0px 130px 0px 130px;
}
/* hero  */
main .hero{
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    height: 380px;
    /* width: 1280px; */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 50px 70px 50px 70px;
    
}
 main .hero-title{
    font-size: 47px;
    font-weight: 700px;
    color: rgb(14, 14, 14);
    width: 520px;
    letter-spacing: 0%;
}

main .hero .hero-content .sub-title{
    font-size: 20px;
    font-weight: 500px;
    color: rgba(14, 14, 14, 0.5);
}
/* shared style  */
.nav-title{
    font-size: 32px;
    font-weight: 700px;
    color: rgb(14, 14, 14);
}
main .pillars-of-bangladesh-2{
    justify-items: left;
}
main .pillars-of-bangladesh-2 .title{
    margin-top: 80px;
    font-size: 24px;
    font-weight: 700px;
    color: rgb(14, 14, 14);
    
}
.all-btns{
    border: none;
}
main .boxs .box-title{
    margin: 15px 0px 0px 0px;
    font-size: 20px;
    font-weight: 700px;
    color: rgba(14, 14, 14, 0.8);
}
main .boxs{
   
    padding: 24px;
    /* width: 280px; */
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    width: 200x;
    
    
}
main .boxs .box .paragraph{
    margin-top: 0px;
    
        font-size: 12px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
    width: 254px
    
   
}

main .boxs .box{
    margin: 18px 0px 80px 0px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    width: 200px
    
    
    
    
}
main .hero .hero-content .all-btns{
    font-size: 18px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    padding: 17px 34px 17px 34px;
    margin: 24px 0px;
    border-radius: 8px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
}
.sub-title{
    font-size: 24px;
    font-weight: 500px;
    color: rgba(14, 14, 14, 0.5);
    
}
/* quata  */
main .quata{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}


 .paragraph{
    padding-top: 30px;
    font-size: 12px;
font-weight: 400px;
color: rgba(14, 14, 14, 0.7);
}
.quata-title{
    margin-top: 20px;
    margin-bottom: 10px;
}
/* The Vision of Future  */
main .source-card .card {
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    margin: 18px 0px 80px 0px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    width: 300px
    
}
main .source-card .all-btns{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    margin: 24px 0px;
    padding: 11px 20px 11px 20px;
    font-size: 16px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    padding: 12px 28px
    
}
main .the-vision-of-future .source-card{
    display: flex;
    /* gap: 10px; */
    justify-content: space-around;
    
    }
main .the-vision-of-future .source-card .green-box {
        
border-radius: 16px;

background-color: rgb(154, 216, 187);
}
main .the-vision-of-future .source-card .green-btn{
    background-color: rgb(9, 161, 92);
}
main .the-vision-of-future .source-card .orange-box {
        
    border-radius: 16px;
    
    background-color: rgb(247, 235, 207);
    
    }
    main .the-vision-of-future .source-card .orange-btn{
        background-color: rgb(255, 194, 57);
    }

    /* news section  */
    main .news .time-date{
        display: flex;
        gap: 10px;
    }
    main .news .news-btns{
        font-size: 18px;
        font-weight: 600px;
        color: rgb(255, 255, 255);
        padding: 17px 34px 17px 34px;
        margin: 24px 0px;
        border-radius: 8px;
        border-radius: 8px;
        background: rgb(0, 106, 80);

    }
    main .news{
        border: 1px solid black;
        border-radius: 24px;
        padding: 10px;

        background: rgb(255, 255, 255);;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    main .news .news-paragraph{
        width: 700px;
        margin-top: 0px;
    }
    main .news .news-title{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    main .news .time-date{
        margin-top: 10px;
    }
    main .news .news-image{
        border-radius: 24px;
        height: 250px;
    }
    main .news-column{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }